.liverpool{
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.liverpool__header{
    flex: 0 0 auto;
    position: relative;
}

.liverpool__container-wrapper{
    flex: 1;
    padding: 1.5rem 0;
}

@media (min-width:768px){
    .liverpool__container-wrapper{
        padding: 2rem 0;
    }
}

@media (min-width:1280px){
    .liverpool__container-wrapper{
        padding: 2.5rem 0;
    }
}

.liverpool__footer{
    flex: 0 0 auto;
}

.liverpool__container{
    padding-left: .75rem;
    padding-right: .75rem;
    max-width: 100%;
}

@media (min-width:768px){
    .liverpool__container{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

@media (min-width:1024px){
    .liverpool__container{
        padding-left: 1.75rem;
        padding-right: 1.75rem;
    }
}

@media (min-width:1280px){
    .liverpool__container{
        max-width: 1024px;
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width:1280px){
    .liverpool__container-inner{
        display: flex;
        max-width: initial;
        margin-left: -1rem;
        margin-right: -1rem;
    }    
}

.liverpool__main{
    padding-bottom: 1.5rem;
}

@media (min-width:1280px){
    .liverpool__main{
        padding: 0 1rem;
        max-width: calc(100% - 360px);
        flex: 1 0 calc(100% - 360px);
    }   
}

@media (min-width:1280px){
    .liverpool__sidebar{
        order:-1;
        padding: 0 1rem;
        max-width: 360px;
        flex: 1 0 360px;
    }

    .liverpool__sidebar_right{
        order:initial;
    }
}