.accordion-item__header{
    color: #0093EE;
    cursor: pointer;
    display: flex;
    font-weight: 500;
    align-items: center;
    line-height: 18px;
    font-size: 15px;
}

.accordion-item__header:after{
    content: '';
    width: .5rem;
    height: .5rem;
    border-left:1.5px solid #0093EE;
    border-bottom:1.5px solid #0093EE;
    display: block;
    flex-shrink: 0;
    margin-left: .5rem;
    transform: translateY(-1.5px) rotate(-45deg);
    transition: .4s ease-out;
}

.accordion-item_active .accordion-item__header:after{
    transform: translateY(1.5px) rotate(-225deg);
}

.accordion-item__content{
    display: none;
}

.accordion-item_active .accordion-item__content{
    display: block;
}