.fc-loader{
	background-color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1000;
}

.cssload-loader__img{
	width: 60px;
	height: 60px;
}