.footer-base{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
}

@media (min-width:768px){
    .footer-base{
        flex-direction:row;
        justify-content: space-between;
    }
}

.footer-base__right-reserved{
    font-size: .75rem;
    color: #444444;
}

.footer-base__company-name{
    color: #444444;
    display: inline-block;
    font-size: 1rem;
    text-transform: uppercase;
    transition: .4s;
    letter-spacing: 2px;
    order: -2;
    font-weight: 500;
}

.footer-base__company-name:hover{
    color: #c64555;
}

@media (min-width:768px){
    .footer-base__company-name{
        order: initial;
    }
}

.footer-base__privicy{
    order:-1;
    margin: .75rem 0;
}

@media (min-width:768px){
    .footer-base__privicy{
        order: initial;
        margin: 0;
    }
}

.footer-base__privicy-link{
    color: #444444;
    display: inline-block;
    font-size: .75rem;
    transition: .4s;
    text-decoration: underline;
}

.footer-base__privicy-link:hover{
    color: #c64555;
}

.footer-base__point{
    color: #444444;
    margin: 0 4px;
    line-height: 1;
}