:host{
    counter-reset: section;    
}
.congratulations__cart{
    margin-bottom: 2rem;
    display: block;
}

@media (min-width:1280px){
	.congratulations__line{
		height: 2px;
		background-color: #DEDEDE;
		margin: 2rem 0 1.5rem;
    }
    
    .congratulations__line_dark{
        background-color: #afc9c9;
    }
}

.congratulations__actions{
    display: flex;
    justify-content: center;
}

.congratulations__actions-space{
    display: inline-block;
    width: 1rem;
}

@media (min-width:1280px){
	.congratulations__actions-space{
        width: 3rem;
    }
}

.congratulations__first-cart{
    text-align: center;
}

.congratulations__success-icon-wrapper{
    width: 60px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.25rem;
    border-radius: 100%;
    background-color: #BFDEDE;
}

.congratulations__success-icon{
    max-width: 75%;
}

.congratulations__title{
    font-weight: 700;
    line-height: 28px;
    font-size: 24px;
    margin-bottom: 1.5rem;
}

.congratulations__title_main{
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.congratulations__subtitle{
    line-height: 26px;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 1.5rem;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.congratulations__help{
    line-height: 18px;
    font-size: 15px;
    margin-bottom: 0.5rem;
}

@media (min-width:1280px){

    .congratulations__greed{
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width:1280px){

    .congratulations__greed-text{
        flex: 1;
    }
}

@media (min-width:1280px){

    .congratulations__greed-image{
        flex: 0 0 300px;
        padding-left: 5rem;
    }
}

.congratulations__image{
    width: 100%;
    max-width: 300px;
    height: auto;
}

.congratulations__under-title{
    color: #777;
    font-size: 14px;
    margin-bottom: 0.5rem;
}

.congratulations__item{
    display: flex;
    line-height: 18px;
    font-size: 15px;
    margin-bottom: 1.5rem;
}

.congratulations__item::before {
    counter-increment: section;
    content: counter(section); 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    align-self: flex-start;
    margin-right: 1rem;
    background-color: #333;
    font-size: 12px;
    width: 20px;
    height: 20px;
    font-weight: 700;
    color: #fff;
    border-radius: 100%;
  }

  .congratulations__paragraph{
    margin-bottom: 1em;
    margin-top: 1em;
    font-size: 15px;
    color: #1a1a1a;
    line-height: 18px;
  }