.offer-section__title{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 0.5rem;
}

@media(min-width:1280px){
    .offer-section__title{
        font-size: 24px;
    }
}

.offer-section__subtitle{
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 1rem;
}

@media(min-width:1280px){
    .offer-section__subtitle{
        font-size: 15px;
    }
}

.offer-section__line{
    height: 2px;
    background-color: #DEDEDE;
    margin: 2rem 0 1.5rem;
}


.offer-section__actions{
    display: flex;
    justify-content: space-between;
}


.offer-block {
    background-color: #F6F6F6;
    padding: 2rem;
    padding-right: 0;
    padding-top: 1.5rem;
    margin-bottom: 2rem;
}

.offer-block__title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: .75rem;
    color: #333;
}

.offer-block__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: .25rem;
}

.offer-block__wrapper-info {
    max-width: 250px;
}

.offer-block__wrapper-text {
    color: #333;
    font-size: 15px;
    margin-bottom: .25rem;
}

.offer-block__wrapper-text-bold {
    color: #333;
    font-weight: 600;
}

.detail-line {
    font-size: 12px;
    color: #333333;
    display: flex;
    margin-top: .25rem;
}

.detail-line-label {
    max-width: 120px;
    flex: 1 0 120px;
}

.offer-block__button {
    margin-top: 2rem;
}

.detail-line-value{
    flex: 1;
}