.b-page-header {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 36px;
    letter-spacing: -0.8px;
    color: #1A1A1A;
    margin: 0 0 30px 45px;
}

.b-page-subheader {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 15px;
    letter-spacing: -0.8px;
    color: #1A1A1A;
    margin: 0 0 30px 45px;
}

.block {
    margin: 5px 30px 10px 30px;
}

.salutation {
    margin-top: 32px;
}

.contact-details .b-splitter {
    margin: 40px 30px 25px 30px;
}