/* Shared css styles*/

body.modal-open {
    overflow: hidden;
}

.splashStatus {
    left: calc(50% - 30px) !important;
}

.splashStatus .circle img {
    width: 60px;
    height: 60px;
}

.inline-block {
    display: inline-block;
}

.uppercase-class {
    text-transform: uppercase;
}

.manual-entry {

}

.output-link {
    margin-left: 5px;
}

.ppr-header{
    font-size:50px;
    font-weight:400;
    line-height:48px;
    font-family: Proxima Nova reg, Arial, Helvetica, sans-serif;
}

.ppr-header-line{
    border-top:8px solid #31cecb;
    margin-bottom: 20px;
}

.ppr-footer{
    /*position: absolute;
    bottom: 0;
    width: 100%;*/
    height:200px;
    margin-top:30px;
}

/*.i-helper {
    width: 16px;
    height: 16px;
    margin-left: 15px;
    font-weight: bold;
    line-height: 16px;
    text-align: center;
    border-radius: 100%;
    cursor: default;
    font-size: 10px;
    border: 1px solid #4fcfcc;
    opacity: 1;
    text-decoration: none;
}*/

.toggle-color {
    color: #4fcfcc;
    vertical-align: top;
}

.label-link-margin {
    margin-left: 5px;
}

.ordering {
    margin-top: 18px;
}

.ordering__steps {
    overflow: hidden;
    margin-bottom: 30px;
    min-width: 941px;
}

.ordering__steps-item.active {
    color: #fff;
}

/*.ordering__steps-finish.active {
    background-image: url(../images/step-finish-active.png);
}*/

.ordering__steps-step {
    margin: 0 0 0 -19px;
}

.mobile__tooltips {
    display: none;
}

.headers__stepts {
    font-size: 24px;
    font-weight: 300;
    line-height: 57px;
    height: 60px;
    text-align: center;
    color: #636363;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    background: #ececec;
}

.headers__stepts span {
    position: relative;
    display: block;
    max-width: 621px;
    height: 60px;
    margin: 0 auto;
    text-align: center;
}

.stetps__blocks {
    margin-bottom: 30px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #fbfbfb;
}

.stetps__blocks.active {
    display: block;
    margin-bottom: 40px;
}

/*.stetps__blocks.active .headers__stepts {
    color: #fff;
    background: #4fcfcc;
}*/

.header-is-active {
   color: #fff;
   background: #4fcfcc;
}

.headers__stepts.active {
 color: #fff;
 background: #4fcfcc;
}

.stetps__blocks.active .stetps__blocks_container {
    height: auto;
    padding-top: 31px;
    padding-bottom: 40px;
    opacity: 1;
}

.stetps__blocks_container {
    /*overflow: hidden;*/
    height: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
    opacity: 0;
    border: 1px solid #ececec;
    border-top: 0;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}

.stetps__blocks-content {
    max-width: 621px;
    margin: 0 auto;
}

.stetps__blocks-footer {
    overflow: hidden;
    max-width: 621px;
    margin: 40px auto 0;
    padding-top: 40px;
    border-top: 1px solid #f0f0f0;
}

.step-order-information .stetps__blocks-footer.order-step-footer {
   margin: 20px auto 0;
}

.stetps__blocks-footer-order {
    margin: 33px auto 0;
    padding-top: 32px;
}

.st__bl-btn next .go-next-step a:focus,
.st__bl-btn next .go-next-step a:hover {
   color: #000;
   opacity: 1;
}

.stetps__blocks-footer .st__bl-btn {
    line-height: 47px;
    position: relative;
    width: -webkit-calc(220px - 65px);
    width: 220px;
    height: 47px;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    font-family: Proxima Nova reg, Arial, Helvetica, sans-serif;
}

.stetps__blocks-footer .st__bl-btn.prev {
    padding-right: 65px;
    text-align: right;
    background: #fcef27;
}

.stetps__blocks-footer .st__bl-btn.next {
    padding-left: 65px;
    text-align: left;
    background: #fcef27;
}

.stetps__blocks-footer .st__bl-btn.order {
    padding-left: 50px;
    text-align: left;
    background: #fcef27;
}

.stetps__blocks-footer .st__bl-btn.finish {
    background: #fcef27;
    text-decoration: none;
    margin: 0px auto;
}

.stetps__blocks-footer .st__bl-btn.btn_ordering {
    padding-left: 65px;
    text-align: center;
    background: #fcef27;
}

.stetps__blocks-footer .st__bl-btn.btn-component-order {
    text-align: center;
    background: #fcef27;
}

.stetps__blocks-footer .st__bl-btn:after {
    position: absolute;
    top: 50%;
    width: 13px;
    height: 9px;
    content: '';
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.stetps__blocks-footer .st__bl-btn.next-button {
    padding-left: 65px;
    text-align: left;
}

.stetps__blocks-footer .st__bl-btn.order-button {
    padding-left: 50px;
    text-align: left;
}

.stetps__blocks-footer .st__bl-btn.btn_ordering {
    padding-left: 65px;
    text-align: center;
}

.stetps__blocks-footer .st__bl-btn.prev-button {
    padding-right: 65px;
    text-align: right;
}

.stetps__blocks-footer .st__bl-btn.prev-button:after {
    left: 30px;
}

.stetps__blocks-footer .st__bl-btn.next-button:after {
    right: 30px;
}

.stetps__blocks-footer .st__bl-btn.order-button:after {
    right: 30px;
}

.stetps__blocks-footer .st__bl-btn.back-to-site{
    width: 360px;
    display: block;
    text-align: center;
}

.next {
    float: right;
}

.prev {
    float: left;
}

.next-button {
    float: right;
}

.order-button {
    float: right;
}

.prev-button {
    float: left;
}

.btn_ordering {
    float: right;
}

.btn-component-order {
    float: right;
}

sub, sup {
   line-height: 1;
}

a:visited {
    color: #45a8a6;
}

a:hover {
    color: #45a8a6;
}

a:active {
    color: #45a8a6;
}

.ppr-header a:hover {
    -ms-filter: "alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    text-decoration: none;
    border-bottom-color: transparent
}

.block__inputs {
    position: relative;
    margin-bottom: 25px;
}

.block__inputs:last-child {
    margin-bottom: 25px;
}

.block__inputs label {
    font-size: 18px;
    font-weight: 300;
    line-height: 1;
    position: relative;
    display: inline-block;
    margin-bottom: 13px;
    color: #000;
}

.block__inputs label sup {
    font-size: 18px;
    position: absolute;
    top: 1px;
    right: -12px;
    color: #e84545;
}

.block__inputs .input__obl {
    position: relative;
    border: 1px solid #636363;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.block__inputs.goods .input__obl {
    border-color: #4fcfcc;
}

.block__inputs textarea:disabled,
.block__inputs input:not([type]):disabled,
.block__inputs input[type='color']:disabled,
.block__inputs input[type='date']:disabled,
.block__inputs input[type='datetime']:disabled,
.block__inputs input[type='datetime-local']:disabled,
.block__inputs input[type='email']:disabled,
.block__inputs input[type='month']:disabled,
.block__inputs input[type='password']:disabled,
.block__inputs input[type='number']:disabled,
.block__inputs input[type='search']:disabled,
.block__inputs input[type='tel']:disabled,
.block__inputs input[type='text']:disabled,
.block__inputs input[type='time']:disabled,
.block__inputs input[type='url']:disabled,
.block__inputs input[type='week']:disabled {
    background-color: #ececec;
}

.block__inputs input[type='text'],
.block__inputs input[type='tel'],
.block__inputs input[type='email'],
.block__inputs input[type='text'] {
    font-family: Proxima Nova light, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 300;
    display: block;
    width: -webkit-calc(100% - 18px);
    width: 100%;
    height: 45px;
    padding-left: 18px;
    padding-right: 38px;
    letter-spacing: .07em;
    border: 0;
    border-radius: 4px;
    /*-webkit-box-shadow: inset 3px 3px 0 0 #e5e5e5;*/
    /*box-shadow: inset 3px 3px 0 0 #e5e5e5;*/
}

.block__inputs.search input[type='text']{
    display: inline;
    width: -webkit-calc(100% - 18px);
    width: 100%;
}

.block__inputs input[type='text']::-moz-placeholder,
.block__inputs input[type='tel']::-moz-placeholder,
.block__inputs input[type='email']::-moz-placeholder,
.block__inputs input[type='text']::-moz-placeholder {
    color: #000;
}

.block__inputs input[type='text']::-webkit-input-placeholder,
.block__inputs input[type='tel']::-webkit-input-placeholder,
.block__inputs input[type='email']::-webkit-input-placeholder,
.block__inputs input[type='text']::-webkit-input-placeholder {
    color: #000;
}

.block__inputs input[type='text']:-ms-input-placeholder,
.block__inputs input[type='tel']:-ms-input-placeholder,
.block__inputs input[type='email']:-ms-input-placeholder,
.block__inputs input[type='text']:-ms-input-placeholder {
    color: #000;
}

.block__inputs input[type='text']::-ms-input-placeholder,
.block__inputs input[type='tel']::-ms-input-placeholder,
.block__inputs input[type='email']::-ms-input-placeholder,
.block__inputs input[type='text']::-ms-input-placeholder {
    color: #000;
}

.block__inputs input[type='text']::-webkit-input-placeholder,
.block__inputs input[type='tel']::-webkit-input-placeholder,
.block__inputs input[type='email']::-webkit-input-placeholder,
.block__inputs input[type='text']::-webkit-input-placeholder {
    color: #000;
}

.block__inputs input[type='text']::-moz-placeholder,
.block__inputs input[type='tel']::-moz-placeholder,
.block__inputs input[type='email']::-moz-placeholder,
.block__inputs input[type='text']::-moz-placeholder {
    color: #000;
}

.block__inputs input[type='text']:-ms-input-placeholder,
.block__inputs input[type='tel']:-ms-input-placeholder,
.block__inputs input[type='email']:-ms-input-placeholder,
.block__inputs input[type='text']:-ms-input-placeholder {
    color: #000;
}

.block__inputs input[type='text']::placeholder,
.block__inputs input[type='tel']::placeholder,
.block__inputs input[type='email']::placeholder,
.block__inputs input[type='text']::placeholder {
    color: #000;
}

.block__inputs .fake__inputs-text {
    font-family: Proxima Nova light, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    line-height: 1;
    line-height: 24px;
    position: relative;
    display: block;
    height: auto;
    padding: 10px 21px;
    padding-left: 18px;
    border: 0;
    border: 1px solid #636363;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #ececec;
    /*-webkit-box-shadow: inset 3px 3px 0 0 #e5e5e5;*/
    /*box-shadow: inset 3px 3px 0 0 #e5e5e5;*/
}

.block__inputs .fake__inputs-text.goods {
    border: 1px solid #4fcfcc;
}

.block__inputs .fake__inputs-text.goods .input__obl:after {
    content: '';
}

.block__inputs .input__obl .close.none {
    visibility: hidden;
    height: 0;
    opacity: 0;
}

.block__inputs .error--text {
    font-size: 12px;
    font-weight: 300;
    line-height: 1;
    display: none;
    padding: 5px 0 0;
    color: #e84545;
}

.block__inputs .df {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 3px;
    cursor: default;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.block__inputs .block_checkbox {
    display: inline-block;
    margin-bottom: 16px;
}

.block__inputs .block_checkbox input[type='checkbox'] {
    z-index: 2;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.block__inputs .block_checkbox .df input[type='checkbox'] {
    z-index: 2;
    width: calc(100% - 20px);
    height: 100%;
    opacity: 0;
}

.block__inputs .block_checkbox .fake__checkbox-text {
    line-height: 1;
    font-family: Proxima Nova reg, Arial, Helvetica, sans-serif;
}

.block__inputs .block_checkbox .fake__checkbox-text a {
    position: relative;
    z-index: 2;
}

.block__inputs .block_checkbox input[type='checkbox']:not(checked) + .fake__checkbox {
    background-position: 0 0;
}

.block__inputs .block_checkbox input[type='checkbox']:checked + .fake__checkbox {
    background-position: 0 -23px;
}

.block__inputs .block_checkbox.validations.error .fake__checkbox {
    background-position: 0 -46px;
}

.block__inputs-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.block__inputs-radio {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    width: 260px;
    height: 45px;
    padding: 0 19px;
    border: 1px solid #636363;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    /*-webkit-box-shadow: inset 3px 3px 0 0 #e5e5e5;*/
    /*box-shadow: inset 3px 3px 0 0 #e5e5e5;*/
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.block__inputs-radio input[type='radio'] {
    z-index: 15;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.block__inputs-radio input[type='radio']:not(checked) + .block__inputs-radio--fake {
    background-position: 0 0;
}

.block__inputs-radio input[type='radio']:checked + .block__inputs-radio--fake {
    background-position: 0 -23px;
}

.block__inputs--title {
    font-size: 18px;
    font-weight: 300;
    display: block;
    margin-bottom: 14px;
    text-align: center;
}

.block__inputs-podr {
    line-height: 1;
    position: relative;
    display: inline-block;
    margin: 10px 0 0;
    text-decoration: none;
    color: #45a8a6;
    border-bottom: 1px dashed #45a8a6;
}

.block__inputs-podr:before {
    position: absolute;
    content: '';
}

.block__inputs-podr.views {
    font-size: 18px;
    margin: 8px 0 0 28px;
}

.block__inputs-podr.print {
    margin: 10px 0 0 29px;
}

.error .error--text {
    display: block;
}

.error .input__obl .close {
    display: block;
}

.error .input__obl {
    border: 1px solid red;
}

.block__tables--title {
    font-size: 16px;
    font-weight: 600;
    display: block;
    margin-bottom: 14px;
    text-align: center;
}

.block__tables--blocks {
    margin-bottom: 12px;
}

.cells_align td, th
{
    text-align: center;
    vertical-align: middle;
}

/*border dislpay none*/
.block__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0 20px 0;
    /*padding: 0 33px 20px;
    border-bottom: 1px solid #ebebeb;*/
}

.block__content ul li {
    font-size: 14px;
    position: relative;
}

.block__content ul li:before {
    position: absolute;
    top: 9px;
    left: -14px;
    width: 7px;
    height: 7px;
    content: '';
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #4fcfcc;
}

.block__content ul li strong {
    line-height: 21px;
    display: block;
    letter-spacing: .01em;
}

.block__content .block__content--item {
    width: 50%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    border-top: 0;
    border-right: 1px;
    border-bottom: 1px;
    border-left: 1px;
    border-style: solid;
    border-color: #ebebeb;
    padding:4px 10px;
}

.block__content .block__content--item:first-child {
    margin-right: 20px;
    border-top: 0;
    border-left: 1px;
    border-right: 1px;
    border-bottom: 1px;
    border-style: solid;
    border-color: #ebebeb;
    padding:4px 10px;
}

.block__content .block__content--radiobutton {
    width: 50%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    border-top: 1px;
    border-right: 1px;
    border-bottom: 1px;
    border-left: 1px;
    border-style: solid;
    border-color: #ebebeb;
    padding:4px 10px;
}

.block__content .block__content--radiobutton:first-child {
    margin-right: 20px;
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;
    border-bottom: 1px;
    border-style: solid;
    border-color: #ebebeb;
    padding:4px 10px;
}

.block__content .block__content--footer {
    width: 50%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    border-top: 1px;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    border-style: solid;
    border-color: #ebebeb;
    padding:4px 10px;
}

.block__content .block__content--footer:first-child {
    margin-right: 20px;
    border-top: 1px;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-style: solid;
    border-color: #ebebeb;
    padding:4px 10px;
}

.block__content-promo {
    padding: 7px 20px 0;
    border-bottom: 0;
}

.block__content-promo .input__obl {
    width: 268px;
}

.block__content-promo .input__obl.right {
    float: right;
}

.block__content-promo .input__obl input {
    font-size: 16px;
}

.block__list {
    padding-left: 21px;
}

.block__list li {
    position: relative;
    margin-bottom: 9px;
    padding-left: 26px;
}

.block__list-flex {
/*    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 14px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;*/
}

.block__list-flex li {
    padding-left: 21px;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 6px;
}

.mCSB_scrollTools .mCSB_draggerRail {
    background: #fff !important;
}

.mCSB_inside > .mCSB_container {
    margin-right: 20px;
}

.values.none {
    visibility: hidden;
    height: 0;
    opacity: 0;
}

input::placeholder {
    color: #9299a2 !important;
    opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #9299a2;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #9299a2;
}

.tooltip-input {
    position: relative;
    z-index: 0;
    right: -20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    opacity: 1;
    float: left;
    margin-bottom: 15px;
}

.tooltip-textarea {
    position: relative;
    z-index: 0;
    right: -10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    opacity: 1;
    float: left;
    margin-bottom: 15px;
}

.tooltip-checkbox {
    position: relative;
    z-index: 0;
    right: -10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    opacity: 1;
    float: left;
    margin-bottom: 0px;
}

.tooltip-property {
    position: relative;
    z-index: 0;
    right: -7px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    opacity: 1;
    float: left;
    margin-bottom: 0px;
}

.tooltip-inner {
    max-width: 350px;
    width: max-content;
    color: #000;
    background-color: #fff;
    border: 1px solid #4fcfcc;
    text-align: left;
    padding:10px;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #4fcfcc;
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #4fcfcc;
}

.tooltip.left .tooltip-arrow {
    border-left-color: #4fcfcc;
}

.tooltip.right .tooltip-arrow {
    border-right-color: #4fcfcc;
}

.tooltip.in{opacity:1!important;}

input::placeholder {
    color: #9299a2 !important;
    opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #9299a2;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #9299a2;
}

.service-additional-text {
    margin-top: -18px;
    font-size: 12px;
}

.input__obl.border-list-input {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: 0px;
}

/* CONTACT DETAILS STEP STARTS*/

.step-contact-details .stetps__blocks_container .stetps__blocks-content .block__inputs.zero-margin {
   margin-bottom: 0;
}

.step-contact-details .stetps__blocks_container .stetps__blocks-content .apex-function-link {
    display: inline-block;
    vertical-align: super;
    margin-left: 5px;
}

/* CONTACT DETAILS STEP ENDS*/

/* COMPANY DETAILS STEP STARTS*/

.step-company-information .stetps__blocks_container .stetps__blocks-content .block__inputs.zero-margin {
   margin-bottom: 0;
}

.step-legal-and-payment-details .stetps__blocks_container .stetps__blocks-content .block__inputs.zero-margin {
   margin: 5px 0 1px;
}

.step-legal-and-payment-details .stetps__blocks_container .stetps__blocks-content .block__inputs.validations.input-zero-margin {
   margin-bottom: 0px;
}


.mb4 {
    margin-bottom: 4px;
}

.mb18 {
    margin-bottom: 18px;
}

.mb19 {
    margin-bottom: 19px;
}

.mb22 {
    margin-bottom: 22px;
}

.pb6 {
    padding-bottom: 6px;
}

.block__tables {
    margin-bottom: 26px;
    padding: 15px 0 18px;
}

.list-oranization {
    position: absolute;
    z-index: 10;
   /* top: 43px;*/
    left: -1px;
    display: none;
    width: calc(100% + 5px);
    max-width: 621px;
    max-height: 239px;
    padding: 0  0 0 10px;
    border-right: 1px solid #636363;
    border-bottom: 1px solid #636363;
    border-left: 1px solid #636363;
    background: #fff;
    border-radius: 0 0 4px 4px;
}

.list-oranization.good {
    border-color: #4fcfcc;
}

.list-oranization:before {
    position: absolute;
    top: 0;
    left: 0;
    /*width: 3px;*/
    height: 100%;
    content: '';
    /*background: #e5e5e5;*/
}

.list-oranization .oranization-item {
    position: relative;
    max-width: 589px;
    padding: 16px 0 12px 10px;
    cursor: pointer;
    border-top: 1px solid #f0f0f0;
}

.list-oranization .oranization-item:hover {
    background: #f0f0f0;
}

.list-oranization .oranization-item strong {
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    display: block;
    margin-bottom: 2px;
}

.list-oranization .oranization-item span {
    font-size: 12px;
    line-height: 18px;
    display: block;
    color: #636363;
}

.list-oranization.none {
    visibility: hidden;
    height: 0;
    opacity: 0;
    display: none;
}

.list-inn {
    position: absolute;
    z-index: 10;
   /* top: 43px;*/
    left: -1px;
    display: none;
    width: calc(100% + 5px);
    max-width: 621px;
    max-height: 239px;
    padding: 0  0 0 10px;
    border-right: 1px solid #636363;
    border-bottom: 1px solid #636363;
    border-left: 1px solid #636363;
    background: #fff;
    border-radius: 0 0 4px 4px;
}

.list-inn.good {
    border-color: #4fcfcc;
}

.list-inn:before {
    position: absolute;
    top: 0;
    left: 0;
    /*width: 3px;*/
    height: 100%;
    content: '';
    /*background: #e5e5e5;*/
}

.list-inn .list-inn-item {
    position: relative;
    max-width: 589px;
    padding: 16px 0 12px 10px;
    cursor: pointer;
    border-top: 1px solid #f0f0f0;
}

.list-inn .list-inn-item:hover {
    background: #f0f0f0;
}

.list-inn .list-inn-item strong {
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    display: block;
    margin-bottom: 2px;
}

.list-inn .list-inn-item span {
    font-size: 12px;
    line-height: 18px;
    display: block;
    color: #636363;
}

.list-inn.none {
    visibility: hidden;
    height: 0;
    opacity: 0;
    display: none;
}

/* COMPANY DETAILS STEP ENDS */

/* ORDER INFORMATION STEP STARTS */

.block__dops {
    /*margin-bottom: 40px;*/
    /*padding-bottom: 19px;*/
    border-bottom: 1px solid #ebebeb;
}

.block__dops-title {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 11px;
}

.block__dops .block_checkbox {
    margin-bottom: 13px;
}

.block__dops .block_checkbox .fake__checkbox {
    margin-right: 10px;
}

.dop__services {
    margin-bottom: 20px;
}

.dop__services.none {
    display: none;
}

.dop__services label {
    margin-bottom: 18px;
}

.dop__services .block_checkbox {
    margin-bottom: 18px;
}

.goods_data {
    font-size: 18px;
    line-height: 17px;
    position: relative;
    display: block;
    display: none;
    max-width: 180px;
    margin: 15px auto 0;
    padding-left: 35px;
    text-align: left;
    color: #4fcfcc;
}

.goods_data.active {
    display: block;
}

.stetps__blocks_hide_mobile {
    display: none;
}

.list-product, .list-promocode {
    position: absolute;
    z-index: 10;
    top: 43px;
    left: -1px;
    display: none;
    width: calc(100% + 2px);
    max-width: 621px;
    max-height: 270px;
    padding: 0  0 0 10px;
    border-right: 1px solid #4fcfcc;
    border-bottom: 1px solid #4fcfcc;
    border-left: 1px solid #4fcfcc;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    background: #fff;
}

.list-product:before, .list-promocode:before {
    position: absolute;
    top: 0;
    left: 0;
    /*width: 3px;*/
    height: 100%;
    content: '';
    /*background: #e5e5e5;*/
}

.list-product .product-item {
    position: relative;
    max-width: 579px;
    padding: 16px 0 12px 10px;
    cursor: pointer;
    border-top: 1px solid #f0f0f0;
}

.list-product .product-item:hover {
    background: #f0f0f0;
}

.list-product .product-item strong {
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    display: block;
    margin-bottom: 2px;
}

.list-product .product-item span {
    font-size: 12px;
    line-height: 18px;
    display: block;
    color: #636363;
}

.list-promocode .promocode-item {
    position: relative;
    max-width: 579px;
    padding: 16px 0 12px 10px;
    cursor: pointer;
    border-top: 1px solid #f0f0f0;
}

.list-promocode .promocode-item:hover {
    background: #f0f0f0;
}

.list-promocode .promocode-item strong {
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    display: block;
    margin-bottom: 2px;
}

.list-promocode .promocode-item span {
    font-size: 12px;
    line-height: 18px;
    display: block;
    color: #636363;
}

.js-tooltips-text {
    font-size: 13px;
    position: absolute;
    z-index: 15;
    top: 0;
    top: -246px;
    left: -60px;
    display: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 300px;
    padding: 15px;
    border: 1px solid #4fcfcc;
    background: #fff;
    border-radius: 4px;
}

.js-tooltips-text p {
    margin-bottom: 15px;
}

.js-tooltips:hover .js-tooltips-text {
    display: block;
}

.stetps__blocks_hide {
    /*overflow: hidden;*/
    height: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
    opacity: 0;
}

.stetps__blocks_hide.active {
    height: auto;
    opacity: 1;
}

.stetps__blocks_hide2 {
    display: none;
}

.stetps__blocks.active .step-3-1.stetps__blocks_container.none {
    visibility: hidden;
    overflow: hidden;
    height: 0;
    padding: 0;
    opacity: 0;
}

.stetps__blocks.active .step-3-2.stetps__blocks_container.none {
    visibility: hidden;
    overflow: hidden;
    height: 0;
    padding: 0;
    opacity: 0;
}

.tooltip-additional-text {
    margin-top: -10px;
    margin-left: 30px;
    font-size: 12px;
    line-height: 1em;
    margin-bottom: 5px;
}

.service-additional-text {
    margin-top: -18px;
    font-size: 12px;
}

.no-offer {
    font-size: 12px;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 11px;
    margin-top: 11px;
    line-height: 1em;
    padding-bottom: 20px;
}

.match-payment-details{
    font-size: 12px;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 11px;
    margin-top: 11px;
    line-height: 1em;
    padding-bottom: 20px;
}

.property-explanation {
    font-size: 12px;
    line-height: 1em;
}

.pay-overdraft-lock,
.header-lock,
.steps-lock,
.promocode-lock {
    visibility: hidden;
    height: 0;
    opacity: 0;
    display: none;
}

.promocode-section {
    opacity: 1;
}

.stetps__blocks-content .promocode-section.promocode-block {
    position: relative;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #4fcfcc;
    border-radius:4px;
}

.promocode-section.promocode-block .block__inputs:last-child{
    margin-bottom: 0;
}

.promocode-section.promocode-block .margin-promocode{
    margin-bottom: 25px;
}

.promocode-complete .margin-promocode-value{
    margin-bottom: 0;
}

.promocode-complete.none {
    visibility: hidden;
    height: 0;
    opacity: 0;
}

.promocode-label.none {
    visibility: hidden;
    height: 0;
    opacity: 0;
    display: none;
}

.promocode-result.none {
    visibility: hidden;
    height: 0;
    opacity: 0;
    display: none;
}

.promocode-list-hide.none {
    visibility: hidden;
    height: 0;
    opacity: 0;
    display: none;
}

.carousel-control.left, .carousel-control.right {
   background-image:none !important;
   filter:none !important;
}

.carousel-control.right {
    margin-right: -25px;
    top: 76%;
    height: 50%;
    padding-left: 100px;
}

.carousel-control.left {
    margin-left: -25px;
    top: 76%;
    height: 50%;
    padding-right: 100px;
}

.carousel-indicators {
    bottom: -20px;
    z-index: 0;
}

.carousel-indicators li {
    border: 1px solid #00d0ce;
}

.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #00d0ce;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    width: 25px;
    height: 5px;
    margin-top: -10px;
    font-size: 18px;
    color: #00d0ce;
    opacity: 1;
}

.carousel-indicators.none {
    visibility: hidden;
    height: 0;
    opacity: 0;
    display: none;
}

.carousel-control.none {
    visibility: hidden;
    height: 0;
    opacity: 0;
    display: none;
}

.promocodeComplete.none {
    visibility: hidden;
    height: 0;
    opacity: 0;
    display: none;
}

.completeBlock {
    border: 1px solid #4fcfcc;
}

.margin-promocode-result {
    margin-bottom: 0;
}


.tariff-block {
    padding: 5px 15px;
    border: 1px solid #ebebeb;
    border-radius: 4px;
}

.tariff-mobile {
    padding: 5px 17px;
}

.property-block {
    border-top: 1px solid #ebebeb;
    padding-top: 5px;
    margin-bottom: 5px;
}

.propertyItem-block {
    font-size: 14px;
}

.propertyItem-element {
    padding-bottom: 5px;
}

.step-order-information .tariffs-block .row {
    margin-right: -1%;
    margin-left: -1%;
    margin-bottom: 30px;
}

.step-order-information .tariffs-block .row .col-md-6,
.step-order-information .tariffs-block .row .col-sm-6 {
    width: 48%;
    margin: 1%;
}


.step-order-information .block__inputs-radio {
    margin: 10px 0px;
    width: 100%;
}

.tariffs-block {
    position: relative;
    margin-bottom: 10px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus {
    color: white;
    background-color: #4fcfcc;
}

.nav-pills > li > a, .nav-pills > li > a:focus {
    color: black;
    background-color: #ececec;
}

.nav-justified>li>a {
    margin-bottom: 5px;
    text-align: center;
    width: 48%;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    text-decoration: none;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #4fcfcc;
}

.block__tables {
    margin-bottom: 26px;
    padding: 15px 0 18px;
    border: 0;
}

.block__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0 20px 0 5px;
    /*padding: 0 33px 20px;
    border-bottom: 1px solid #ebebeb;*/
}

.input__obl > textarea {
    margin: 0;
    padding: 4px;
    font-family: Proxima Nova light, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 300;
    display: block;
    width: -webkit-calc(100% - 18px);
    width: 100%;
    padding-left: 18px;
    letter-spacing: .07em;
    border: 1px;
    border-radius: 4px;
    border-color: #4fcfcc;
}

.property-bold {
    font-weight: 600;
}
/* ORDER INFORMATION STEP ENDS */

/* LEGAL DETAILS STEP STARTS */


.delivery-info {
    resize:none;
    width: 100%;
    padding: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.legal-address-list {
    position: absolute;
    z-index: 10;
   /* top: 43px;*/
    left: -1px;
    display: none;
    width: calc(100% + 5px);
    max-width: 621px;
    max-height: 220px;
    padding: 0  0 0 10px;
    border-right: 1px solid #636363;
    border-bottom: 1px solid #636363;
    border-left: 1px solid #636363;
    background: #fff;
    border-radius: 0 0 4px 4px;
}

.legal-address-list.good {
    border-color: #4fcfcc;
}

.legal-address-list:before {
    position: absolute;
    top: 0;
    left: 0;
    /*width: 3px;*/
    height: 100%;
    content: '';
    /*background: #e5e5e5;*/
}

.legal-address-list .legal-address-item {
    position: relative;
    max-width: 589px;
    padding: 16px 0 12px 10px;
    cursor: pointer;
    border-top: 1px solid #f0f0f0;
}

.legal-address-list .legal-address-item:hover {
    background: #f0f0f0;
}

.legal-address-list .legal-address-item strong {
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    display: block;
    margin-bottom: 2px;
}

.legal-address-list .legal-address-item span {
    font-size: 12px;
    line-height: 18px;
    display: block;
    color: #636363;
}

.document-address-list {
    position: absolute;
    z-index: 10;
    left: -1px;
    display: none;
    width: calc(100% + 5px);
    max-width: 621px;
    max-height: 220px;
    padding: 0  0 0 10px;
    border-right: 1px solid #636363;
    border-bottom: 1px solid #636363;
    border-left: 1px solid #636363;
    background: #fff;
    border-radius: 0 0 4px 4px;
}

.document-address-list.good {
    border-color: #4fcfcc;
}

.document-address-list:before {
    position: absolute;
    top: 0;
    left: 0;
    /*width: 3px;*/
    height: 100%;
    content: '';
    /*background: #e5e5e5;*/
}

.document-address-list .document-address-item {
    position: relative;
    max-width: 589px;
    padding: 16px 0 12px 10px;
    cursor: pointer;
    border-top: 1px solid #f0f0f0;
}

.document-address-list .document-address-item:hover {
    background: #f0f0f0;
}

.document-address-list .document-address-item strong {
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    display: block;
    margin-bottom: 2px;
}

.document-address-list .document-address-item span {
    font-size: 12px;
    line-height: 18px;
    display: block;
    color: #636363;
}

.bank-name-list {
    position: absolute;
    z-index: 10;
   /* top: 43px;*/
    left: -1px;
    display: none;
    width: calc(100% + 5px);
    max-width: 621px;
    max-height: 220px;
    padding: 0  0 0 10px;
    border-right: 1px solid #636363;
    border-bottom: 1px solid #636363;
    border-left: 1px solid #636363;
    background: #fff;
    border-radius: 0 0 4px 4px;
}

.bank-name-list.good {
    border-color: #4fcfcc;
}

.bank-name-list:before {
    position: absolute;
    top: 0;
    left: 0;
    /*width: 3px;*/
    height: 100%;
    content: '';
    /*background: #e5e5e5;*/
}

.bank-name-list .bank-name-item {
    position: relative;
    max-width: 589px;
    padding: 16px 0 12px 10px;
    cursor: pointer;
    border-top: 1px solid #f0f0f0;
}

.bank-name-list .bank-name-item:hover {
    background: #f0f0f0;
}

.bank-name-list .bank-name-item strong {
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    display: block;
    margin-bottom: 2px;
}

.bank-name-list .bank-name-item span {
    font-size: 12px;
    line-height: 18px;
    display: block;
    color: #636363;
}

/*.step-4-1,
.step-4-2 {
    visibility: hidden;
    overflow: hidden;
    height: 0;
    padding: 0;
    opacity: 0;
}

.step-4-1.active,
.step-4-2.active {
    visibility: visible;
    height: auto;
    opacity: 1;
}*/

.js-end-order.none {
    display: none;
}

.input__obl > textarea {
    margin: 0;
    padding: 4px;
    font-family: Proxima Nova light, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 300;
    display: block;
    width: -webkit-calc(100% - 18px);
    width: 100%;
    padding-left: 18px;
    letter-spacing: .07em;
    border: 1px;
    border-radius: 4px;
    border-color: #4fcfcc;
    resize: none;
}

/* LEGAL DETAILS STEP ENDS */

/* CONGRATULATIONS STEP STARTS */

.text-display-inline {
   display: inline-block !important;
   margin-left: 5px;
}

.block__inputs-podr:before {
    position: absolute;
    content: '';
}

.stetps__blocks-footer .block__inputs-podr .print-document {
   text-decoration: none;
}

.stetps__blocks-footer .lk .link-content{
   margin-left: 5px;
}

.stetps__blocks-footer.stetps__blocks-footer-order label {
   font-weight: normal;
}

.stetps__blocks-content .label-text {
   font-weight: normal;
}

.content-title {
    font-size: 24px;
    font-weight: 300;
    margin: 23px 0 0;
    text-align: center;
}

.blocks__order {
    margin: 34px 0 0;
    text-align: center;
}

.blocks__order span {
    font-size: 18px;
    display: block;
    color: #636363;
}

.blocks__order img {
    display: block;
    margin: 0 auto 32px;
}

.s-text {
    font-size: 18px;
}

.contract-congratulations {
    font-size: 16px;
    position: relative;
    display: block;
    text-align: center;
    /*margin: 15px 0 19px;*/
    letter-spacing: -0.5px;
}

.contract-congratulations.contract-congratulations-last {
    margin-bottom: 30px;
}

.lk {
    font-size: 16px;
    margin: 24px 0 13px;
}

.lk a {
    text-decoration: none;
    color: #45a8a6;
    border-bottom: 1px dashed;
}

.name__order {
    padding-bottom: 15px;
}

/* CONGRATULATIONS STEP ENDS */

/*MODAL WINDOWS CSS STYLES STARTS*/

.modal {
    /*display: block;*/
}

.modal-delivery-bonus {
    padding-right: 15px !important;
}

.modal-pointer {
    cursor: pointer;
}

.modal-header .close {
    width: 20px;
    height: 20px;
    color: #fff;
    opacity: 1;
    font-size: 30px;
    text-decoration: none;
    border-bottom-style: none;
    font-weight: normal;
    text-shadow: none;
}

.modal-title {
    font-size: 24px;
    font-weight: 300;
    display: -webkit-inline-box;
    height: 60px;
    text-align: center;
    border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.modal-dialog {
    display: block;
    vertical-align: middle;
    background: #fbfbfb;
    border-radius: 5px;
    position: relative;
    width: auto;
}

.modal-body {
    position: relative;
    overflow-y: auto;
    max-height: 330px;
    padding: 0 0 0 15px;
    margin-top: 20px;
}

.modal-body .font-13 {
    font-size: 13px;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
}

.modal-content {
    border-radius: unset;
}

.modal-footer .modal-buttons-block .modal-button{
    line-height: 47px;
    position: relative;
    width: 220px;
    height: 47px;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    border-width: 0px;
}

.close-outside-button,
.close-inside-button{
    float: left;
}

.modal-footer .modal-buttons-block .modal-button.close-outside-button,
.modal-footer .modal-buttons-block .modal-button.close-inside-button {
    background: #ececec;
}

.print-outside-button,
.print-inside-button{
    float: right;
}

.modal-footer .modal-buttons-block .modal-button.print-outside-button,
.modal-footer .modal-buttons-block .modal-button.print-inside-button {
    background: #fcef27;
}

.modal-footer .modal-buttons-block .modal-button.preview-outside-button,
.modal-footer .modal-buttons-block .modal-button.preview-inside-button {
    background: #fcef27;
    line-height: 1;
    color: #000;
    filter: alpha(opacity=20);
    opacity: 1;
}


.modal-footer .modal-buttons-block .modal-button.preview-outside-button {
    margin: 0 auto;
}

.modal-footer .modal-buttons-block {
    border-top: 1px solid #e5e5e5;
    margin: 20px 15px 0px;
    padding: 20px 0 0;
}

.modal-footer {
    border-top: none;
    padding: 0;
    text-align: center;
    padding-bottom: 20px;
}

.modal-header {
    padding: 10px;
    border-bottom: 1px solid #e5e5e5;
    text-align: center;
    color: #fff;
    background: #4fcfcc;
}

.print-document-body {
    height: 500px;
}

.print-discounts-body {
    max-height: 100%;
    padding-right: 15px;
}

.modal-body .b-modal-text{
    margin-bottom: 15px;
    text-align: justify;
}

.modal-bonus {
    font-size: 20px;
}

/*MODAL WINDOWS CSS STYLES ENDS*/

/* ERROR PAGE STYLE STARTS*/

.b-error {
    margin-bottom: 40px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #fbfbfb;
}

.b-error .error-header {
    font-size: 24px;
    font-weight: 300;
    line-height: 57px;
    height: 60px;
    text-align: center;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    color: #fff;
    background: #4fcfcc;
}

.b-error .error-text {
    overflow: hidden;
    -webkit-transition: all .5s;
    transition: all .5s;
    border: 1px solid #ececec;
    border-top: 0;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    height: auto;
    padding-top: 31px;
    padding-bottom: 40px;
    opacity: 1;
}

.b-error .error-text .error-content {
    max-width: 621px;
    margin: 0 auto;
}

/* ERROR PAGE STYLE ENDS*/

/* MOBILE CSS SHARED STYLES STARTS */
@media (min-width: 768px){
    .modal-dialog {
        margin: 50px auto;
        width: 100%;
        max-width: 651px;
    }
}

@media (max-width: 991.99px) {
    .ordering__steps {
        display: none;
    }
}

@media (max-width: 550px) {
    .modal-content .modal-body {
        max-height: 225px;
    }
}

@media (max-width: 640px) {
    .modal-content .modal-header .modal-title {
        font-size: 16px;
    }

    .modal-body .b-modal-text{
        font-size: 12px;
    }
}

@media (max-width: 767.99px) {
    .block__inputs input[type='text'], .block__inputs input[type='tel'],
    .block__inputs input[type='email'], .block__inputs input[type='text'] {
        width: 100%;
    }

    .stetps__blocks.active .headers__stepts span:before {
        display: none;
    }

    .stetps__blocks-footer .st__bl-btn.back-to-site{
        display: block;
        text-align: center;
        width: 100% !important;
    }

    .headers__stepts {
        font-size: 20px;
        line-height: 20px;
        padding: 10px 0px;
    }

    .stetps__blocks .stetps__blocks_container {
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        padding-right: 15px;
        padding-left: 15px;
    }

    .stetps__blocks-footer .st__bl-btn.prev,
    .stetps__blocks-footer .st__bl-btn.next {
        float: none;
        width: 220px;
        margin: 0 auto 15px;
        padding: 0;
        text-align: center;
    }

    .stetps__blocks-footer .st__bl-btn.btn_ordering{
        width: 220px;
        margin: 0 auto 15px;
        padding: 0;
        float: none;
    }

    .stetps__blocks-footer .st__bl-btn.btn-component-order{
        width: 220px;
        margin: 0 auto 15px;
        padding: 0;
    }

    .block__inputs .block_checkbox .fake__checkbox-text {
        font-size: 14px;
        font-family: Proxima Nova reg, Arial, Helvetica, sans-serif;
    }

    .stetps__blocks-footer .st__bl-btn.prev-button,
    .stetps__blocks-footer .st__bl-btn.next-button,
    .stetps__blocks-footer .st__bl-btn.order-button {
        width: 220px;
        margin: 0 auto 15px;
        padding: 0;
        text-align: center;
    }

    .block__inputs-flex {
        flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
    }

    .js-tooltips-text {
        left: 0;
        width: 100%;
    }

    .error--text br {
        display: none;
    }

    .block__inputs input[type='text'],
    .block__inputs input[type='tel'],
    .block__inputs input[type='email'],
    .block__inputs input[type='text'] {
        overflow: hidden;
        /*width: -webkit-calc(100% - 48px);*/
        /*width: calc(100% - 48px);*/
        height: 45px;
        padding: 0 30px 0 18px;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .list-oranization {
        width: -webkit-calc(100% - 10px);
        width: calc(100% + 2px);
    }

    .legal-address-list {
        width: -webkit-calc(100% - 10px);
        width: calc(100% + 2px);
    }

    .document-address-list {
        width: -webkit-calc(100% - 10px);
        width: calc(100% + 2px);
    }

    .bank-name-list {
        width: -webkit-calc(100% - 10px);
        width: calc(100% + 2px);
    }

    .block__inputs-radio {
        width: -webkit-calc(100% - 40px);
        width: calc(100% - 40px);
        margin-bottom: 10px;
    }

    .block__list {
        padding-left: 0;
    }

    .next {
        float: none;
    }

    .stetps__blocks-footer {
        margin: 20px auto 0;
    }

    .stetps__blocks_container .stetps__blocks-content .block__inputs {
        margin-bottom: 15px;
    }

    .block__list-flex {
        flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
    }

    .block__content .block__content--item:first-child {
        border-right: 0;
    }

    .block__content {
        display: block;
        padding: 0;
        border-bottom: 15px;
    }

    .block__content .block__content--item {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .block__tables--title {
        margin-bottom: 8px;
    }

    .opis__radio {
        display: none;
    }

    .opis__radio.active {
        display: block;
    }

    .block__tables {
        display: none;
    }

    .mob__hide {
        display: none;
    }

    .stetps__blocks_hide.active.pc {
        height: 0;
        opacity: 0;
    }

    .block__content-promo .input__obl {
        width: auto;
    }

    .stetps__blocks_hide_mobile {
        display: block;
    }

    .headers__stepts {
        font-size: 20px;
    }

    .modal-footer .modal-buttons-block .modal-button.close-outside-button,
    .modal-footer .modal-buttons-block .modal-button.close-inside-button,
    .modal-footer .modal-buttons-block .modal-button.print-outside-button,
    .modal-footer .modal-buttons-block .modal-button.print-inside-button,
    .modal-footer .modal-buttons-block .modal-button.preview-outside-button,
    .modal-footer .modal-buttons-block .modal-button.preview-inside-button{
        width: 220px;
        margin: 0 auto 15px;
        padding: 0;
    }

    .modal-footer .modal-buttons-block .modal-button.close-outside-button,
    .modal-footer .modal-buttons-block .modal-button.print-outside-button,
    .modal-footer .modal-buttons-block .modal-button.preview-outside-button{
        float: none;
    }

    .modal-header .modal-title {
        font-size: 20px;
    }

    .modal-content .modal-footer {
        padding-bottom: 5px;
    }

    .modal-dialog {
        margin: 10px 15px;
    }

    .mobile__tooltips {
        display: none;
    }

    .mobile__tooltips.active {
        display: block;
        margin: 5px 30px;
        font-size: 12px;
        margin-bottom: 10px;
        margin-top: 5px;
        font-style: italic;
    }

    .mobile__tooltips.active_input {
        display: block;
        font-size: 12px;
        margin-bottom: 10px;
        margin-top: -10px;
        font-style: italic;
    }

    .js-tooltips:hover .js-tooltips-text {
        display: none;
    }

    .chat-button {
        right: 0px;
        margin-left: 0px;
    }

    .chat-box {
        margin-left: 0px;
        top: 0px;
        left: 0px;
        width: 100%;
        max-height:362px;
        position: absolute;
    }

    .b-error .error-text .error-content {
        margin: 0 15px;
    }

    .mob__hide {
        display: none !important;
    }

    .tariffs-block {
        display: none;
    }

}

/* MOBILE CSS SHARED STYLES ENDS */