.tax-id-cart__title{
	font-weight: 700;
    font-size: 17px;
    color: #1A1A1A;
    margin-bottom: .5rem;
}

@media (min-width:1280px){
	.tax-id-cart__title{
		font-size: 24px;
	}
}

.tax-id-cart__description{
	font-size: 13px;
    color: #1A1A1A;
    margin-bottom: 1.5rem;
}

@media (min-width:1280px){
	.tax-id-cart__description{
		font-size: 15px;
		color: #1A1A1A;
	}
}

.tax-id-cart__group{
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@media (min-width:1280px){
	.tax-id-cart__group{
		display: flex;
        align-items: flex-start;
	}
}

.tax-id-cart__group-input {
    max-width: 400px;
}

.tax-id-cart__group-label2 {
    color: #1a1a1a;
    font-size: 13px;
    line-height: 20px;
    display: block;
    text-align: center;
}

@media (min-width:1280px){
    .tax-id-cart__group-label2 {
        font-size: 15px;
        line-height: 38px;
        padding-left: 1rem;
    }
}

.tax-id-cart__line{
	height: 2px;
	background-color: #DEDEDE;
	margin: 2rem 0 1.5rem;
}

.tax-id-cart__navigation-group{
	display: flex;
	justify-content: space-between;
}